@model List<TaskWebApplication.Models.ATask>

@{
    ViewBag.Title = "Pending";
}

<div class="container">
    <div class="row">
        <!-- Left side: Checklist of items -->
        <div class="col-md-6">
            <h2>Pending Tasks</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model[0].task_name)</th>
                        <th>@Html.DisplayNameFor(model => model[0].task_priority)</th>
                        <th>@Html.DisplayNameFor(model => model[0].task_status)</th>
                        <th>@Html.DisplayNameFor(model => model[0].task_deadline)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.task_name)</td>
                            <td>@Html.DisplayFor(modelItem => item.task_priority)</td>
                            <td>Pending</td>
                            <td>@Html.DisplayFor(modelItem => item.task_deadline)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <p>
            @using (Html.BeginForm("process", "api/TaskApi", FormMethod.Post, new { @class = "form-inline" }))
            {
                <button type="submit" class="btn btn-primary">Process Task</button>
            }
        </p>
    </div>
</div>
