@model List<TaskWebApplication.Models.ATask>

@{
    ViewBag.Title = "TasksView";
}

<div class="container">
    <div class="row">
        <!-- Left side: Checklist of items -->
        <div class="col-md-6">
            <h2>View Tasks</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model[0].task_id)</th>
                        <th>@Html.DisplayNameFor(model => model[0].task_name)</th>
                        <th>@Html.DisplayNameFor(model => model[0].task_priority)</th>
                        <th>@Html.DisplayNameFor(model => model[0].task_status)</th>
                        <th>@Html.DisplayNameFor(model => model[0].task_deadline)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.task_id)</td>
                            <td>@Html.DisplayFor(modelItem => item.task_name)</td>
                            <td>@Html.DisplayFor(modelItem => item.task_priority)</td>
                            <td>Executed</td>
                            <td>@Html.DisplayFor(modelItem => item.task_deadline)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Right side: Unclickable items 
        <div class="col-md-6">
            <h3>Unclickable Items</h3>
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item">
                        @Html.DisplayFor(modelItem => item.task_name)
                    </li>
                }
            </ul>
        </div> -->
    </div> 
</div>
