@model TaskWebApplication.Models.ATask

@{
    ViewBag.Title = "View Task";

}

<h2>View Tasks</h2>

<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.task_id)</th>
                <td>@Html.DisplayFor(model => model.task_id)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.task_name)</th>
                <td>@Html.DisplayFor(model => model.task_name)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.task_priority)</th>
                <td>@Html.DisplayFor(model => model.task_priority)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.task_status)</th>
                <td>@Html.DisplayFor(model => model.task_status)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.task_deadline)</th>
                <td>@Html.DisplayFor(model => model.task_deadline)</td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    @using (Html.BeginForm("process", "api/TaskApi", FormMethod.Post, new { @class = "form-inline" }))
    {
        <button type="submit" class="btn btn-primary">Process Task</button>
    }
</p>